.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--size-7) var(--size-3);
  padding: var(--size-7);
}

figure img {
  border-radius: var(--radius-3);
  max-width: 100%;
}

figure figcaption {
  text-align: center;
  padding: var(--size-4);
}

.product-name {
  display: block;
  font-style: italic;
  font-size: var(--font-size-1);
}

figure button {
  display: block;
  margin: auto;
}
